<!doctype html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <title>Multiplication Table</title>
    <!-- note that here we’re linking to a CDN version of Angular  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div ng-controller="DisplayCtrl">
    <div ng-if="content">{{ content }}</div>
    <div ng-if="!content">...</div>
</div>
<div ng-controller="MultiplicationCtrl" initial-number-limit="10">
    <input type="number" ng-model="numberLimit" placeholder="Enter a number" />
    <table>
        <tr ng-repeat="numberA in numbers">
            <td ng-repeat="numberB in numbers"
                ng-click="setActiveNumber(compute(numberA, numberB))"
                ng-mouseover="setActiveFactors(numberA, numberB)"
                ng-mouseleave="clearActiveFactors()"
                ng-class="{hover: matchesFactor(numberA, numberB)}">
                {{ compute(numberA, numberB) }}
            </td>
        </tr>
    </table>
</div>
<div ng-controller="DisplayCtrl">
    <div ng-if="content">
        The value you have selected to display is: {{ content }}
    </div>
    <div ng-if="!content">
        You have not selected a value to display
    </div>
</div>
<script src="myApp.js" type="text/javascript"></script>
</body>
</html>
